// Silence all compiler warnings for the Runner target
WARNING_CFLAGS = -w
GCC_WARN_UNDECLARED_SELECTOR = NO
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = NO
CLANG_WARN_UNGUARDED_AVAILABILITY = NO
CLANG_WARN__DUPLICATE_METHOD_MATCH = NO
CLANG_WARN_PRAGMA_PACK = NO
CLANG_WARN_STRICT_PROTOTYPES = NO
CLANG_WARN_COMMA = NO
GCC_WARN_STRICT_SELECTOR_MATCH = NO
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO
GCC_WARN_SHADOW = NO
CLANG_WARN_UNREACHABLE_CODE = NO
